.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

.Renviron
.Rprofile
.vscode/

*.bak
temp/

src/*.o
src/*.so
src/*.dll
src/*.gcda
src/*.gcno

*.tar.gz
*.Rcheck/

Rplot*.pdf

*.gdf

docs/
vignettes/*.html
vignettes/*_cache/

inst/REFERENCES.bib.bak
dev_scripts/

.github/*.md
