.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.bak

src/abc.o
src/bioregion.so
src/bioregion.dll
src/prodmat.o
src/RcppExports.o

inst/REFERENCES.bib.bak

docs/

vignettes/a4_1_hierarchical_clustering_cache
