.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.bak

src/abc.o
src/abc.gcda
src/abc.gcno
src/bioregion.so
src/bioregion.dll
src/prodmat.o
src/RcppExports.o
src/RcppExports.gcda
src/RcppExports.gcno

inst/REFERENCES.bib.bak

docs/

vignettes/a4_1_hierarchical_clustering_cache
README_PACKAGE_BUILD.md

temp/
.vscode/
.Renviron
.Rprofile